# Dependencies
/node_modules
/.pnp
.pnp.js

# Production build output
/dist

# Testing
/coverage

# Private Instructions
PROJECT_INSTRUCTIONS.md

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
